
.items-holder {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    scrollbar-color: var(--secondary-bg-text) var(--primary-bg-text);

    &::-webkit-scrollbar-track {
      background: var(--primary-bg-text);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--secondary-bg-text);
    }
  }
}
